/* The :root is a pseudoclass selector (because of the colon) which matches the root element of the document tree */
:root {
  --main-color: rgb(180, 164, 22);
  --secondary-color: #eee;
}

body {
  line-height: 1.4;
  font-size: large;
  font-family: sans-serif;
}

/* Navigation bar */
nav {
  background-color: var(--secondary-color);
  padding: 3px 5px 5px 0px;
  margin-bottom: 5px;
  border-radius: 10px;
}

nav a {
  margin: 0px 2px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  padding: 3px 5px 5px 7px;
}

nav a:hover {
  color: var(--main-color);
}

nav a.active {
  background-color: lightgray;
}

/* Contains the navbar and the main content of the page */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Style for links inside the main content */
main a {
  color: var(--main-color);
  text-decoration: none;
  border-bottom: 1px dotted var(--main-color);
}

/* Blog posts list */
.posts-list {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 1px 0px;
}

/* Make more space between the posts inside the list */
.posts-list ul li {
  margin: 5px 0px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid var(--secondary-color);
  margin: 1.5em 10px;
  padding: .1em 10px .1em;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Styles for figures */
figure {
  text-align: center;
  margin: 4em 0;
}

figcaption {
  font-style: italic;
  font-size: 0.9em;
  color: #555; /* muted color for captions */
  margin-bottom: 2em;
}

/* Intro text for my MFF interview */
.intro-text {
  font-size: 1.4em;
  line-height: 1.6;
  color:rgb(90, 90, 90);
  font-style: italic;
}

/* READING LIST STUFF */

.book-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-meta {
    font-size: 0.8em;       /* smaller text */
    opacity: 0.7;           /* subtle look */
    white-space: nowrap;    /* keep dates on one line */
    text-align: right;      /* right aligned */
    margin-right: 5px;
}

.book-meta em {
    font-style: italic;
}
