<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <nav> 
        <a href="/"> Home </a>
        <a href="/blog/"> Blog </a>
        {% for page in site.pages %}
          {% if page.url != "/" and page.title != "Blog" %}
          <a href="{{ page.url }}"> {{ page.title }} </a>
          {% endif %}
        {% endfor %}
      </nav>
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
